.AddBookForm .modal-title {
  color: #5cb85c; }

.AddBookForm .btn-default:hover {
  color: #FFF;
  background-color: #5cb85c;
  border-color: #5cb85c; }

.AddBookForm .btn-default:focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

.AddBookForm .submit-button-wrapper {
  text-align: center; }

.AddBookForm .alert-danger {
  margin-top: 15px; }

.AddBookForm .btn-default[disabled]:hover {
  color: #333 !important; }
