.AddBookForm {

  .modal-title {
    color: #5cb85c;
  }

  .btn-default:hover {
    color: #FFF;
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  .btn-default:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .submit-button-wrapper {
    text-align: center;
  }
  .alert-danger {
    margin-top: 15px;
  }
  .btn-default[disabled]:hover {
    color: #333 !important;
  }
}