.BooksNavBar {
  padding-bottom: 2px; }
  .BooksNavBar .sort-options {
    margin-right: 25px; }
  .BooksNavBar .add-book {
    margin: 9px 0 8px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 22px 6px 15px;
    border-radius: 15px;
    text-decoration: none;
    float: right; }
  .BooksNavBar .dropdown-menu > li > a {
    color: #cecece; }
  .BooksNavBar .dropdown-menu > li > a:hover,
  .BooksNavBar .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #808080; }
  .BooksNavBar .dropdown-menu > .active > a,
  .BooksNavBar .dropdown-menu > .active > a:hover,
  .BooksNavBar .dropdown-menu > .active > a:focus {
    color: #5cb85c;
    background-color: inherit; }
