.BookSearchForm {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    .form-inline .form-control {
      width: 490px;
      margin-right: 8px;
    }
  }
  .btn-default[disabled]:hover {
    color: #333 !important;
  }
}