.book-list a {
  color: inherit;
  display: block; }
  .book-list a:hover, .book-list a:focus {
    color: inherit;
    text-decoration: none; }

.book-list img {
  margin-bottom: 8px;
  max-height: 165px; }

.book-list .book-wrapper {
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #DDD;
  padding: 40px 10px 16px; }

.book-list .book-title {
  color: #5cb85c;
  margin-bottom: 0; }

.book-list .book-authors {
  color: #656464; }

.book-list .column {
  margin-bottom: 15px; }

.book-list .penguin-book-cover {
  background: url(./../../static/penguin.png) center center no-repeat;
  height: 165px;
  margin-bottom: 10px;
  background-size: 113px; }
