.BooksNavBar {

  padding-bottom: 2px;

  .sort-options {
    margin-right: 25px;
  }
  .add-book {
    margin: 9px 0 8px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 22px 6px 15px;
    border-radius: 15px;
    text-decoration: none;
    float: right;
  }
  .dropdown-menu > li > a {
    color: #cecece;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #808080;
  }
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #5cb85c;
    background-color: inherit;
  }
}
