.BookDetails {
  width: 63% !important;

  .modal-header {
    .modal-title {
      color: #4C4C4C;
      font-size: 30px;
      border: none;
    }
    h5 {
      color: #656464;
      margin-left: 10px;
    }
  }

  .modal-body {
    overflow: auto;
    min-height: 375px;
    padding-top: 25px;
  }
  .book-info-wrapper {
    float: left;

    h4 {
      margin-top: 0;
    }
  }
  .not-provided {
    color: #9c9c9c;
  }
  .book-added-success {
    width: 95%;
  }
  .book-cover, .penguin-book-cover {
    border: 7px solid #EEE;
    float: left;
    margin: 0 30px 15px 0;
    border-radius: 4px;
  }
  .book-cover {
    max-width: 300px;
  }
  .penguin-book-cover {
    background: url(./../../static/penguin.gif) center center no-repeat;
    width: 150px;
    height: 195px;
    border-width: 5px;
    background-size: 120px;
  }
  .modal-footer {
    border: none;
  }
  .btn {
    color: #909090;
  }
  .btn:hover {
    color: #FFF;
    background-color: red;
    border-color: red;
  }

  @media (min-width: 768px) {
    .book-info-wrapper {
      width: 70%;
    }
  }
}