.BookDetails {
  width: 63% !important; }
  .BookDetails .modal-header .modal-title {
    color: #4C4C4C;
    font-size: 30px;
    border: none; }
  .BookDetails .modal-header h5 {
    color: #656464;
    margin-left: 10px; }
  .BookDetails .modal-body {
    overflow: auto;
    min-height: 375px;
    padding-top: 25px; }
  .BookDetails .book-info-wrapper {
    float: left; }
    .BookDetails .book-info-wrapper h4 {
      margin-top: 0; }
  .BookDetails .not-provided {
    color: #9c9c9c; }
  .BookDetails .book-added-success {
    width: 95%; }
  .BookDetails .book-cover, .BookDetails .penguin-book-cover {
    border: 7px solid #EEE;
    float: left;
    margin: 0 30px 15px 0;
    border-radius: 4px; }
  .BookDetails .book-cover {
    max-width: 300px; }
  .BookDetails .penguin-book-cover {
    background: url(./../../static/penguin.gif) center center no-repeat;
    width: 150px;
    height: 195px;
    border-width: 5px;
    background-size: 120px; }
  .BookDetails .modal-footer {
    border: none; }
  .BookDetails .btn {
    color: #909090; }
  .BookDetails .btn:hover {
    color: #FFF;
    background-color: red;
    border-color: red; }
  @media (min-width: 768px) {
    .BookDetails .book-info-wrapper {
      width: 70%; } }
