
.book-list {
  a {
    color: inherit;
    display: block;

    &:hover, &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
  img {
    margin-bottom: 8px;
    max-height: 165px;
  }
  .book-wrapper {
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 40px 10px 16px;
  }
  .book-title {
    color: #5cb85c;
    margin-bottom: 0;
  }
  .book-authors {
    color: #656464;
  }
  .column {
    margin-bottom: 15px;
  }
  .penguin-book-cover {
    background: url(./../../static/penguin.png) center center no-repeat;
    height: 165px;
    margin-bottom: 10px;
    background-size: 113px;
  }
}
