@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
body {
  background-color: #fafafa; }

a:focus, .btn:focus {
  outline: none !important; }

.navbar-default {
  background-color: #FFF !important; }

.close:hover,
.close:focus {
  color: #5cb85c; }
