.ListView {
  .book-wrapper {
    overflow: auto;
    padding: 20px 10px 20px 40px;
  }
  .book-info-wrapper {
    margin-top: 25px;
  }
  .penguin-book-cover, img {
    margin: 0 30px 0 0;
  }
  .penguin-book-cover {
    width: 114px;
  }
  .book-info-wrapper {
    margin-top: 53px;
  }
  .book-title {
    font-size: 30px;
    margin-bottom: 11px;
  }
  .book-authors {
    font-size: 17px;
    margin-left: 5px;
  }
}
