.ListView .book-wrapper {
  overflow: auto;
  padding: 20px 10px 20px 40px; }

.ListView .book-info-wrapper {
  margin-top: 25px; }

.ListView .penguin-book-cover, .ListView img {
  margin: 0 30px 0 0; }

.ListView .penguin-book-cover {
  width: 114px; }

.ListView .book-info-wrapper {
  margin-top: 53px; }

.ListView .book-title {
  font-size: 30px;
  margin-bottom: 11px; }

.ListView .book-authors {
  font-size: 17px;
  margin-left: 5px; }
