.PhotoUploadWidget {
  .dropzone {
    background-color: white;
    border: 1px dashed gray;
    padding: 20px 15px;
    border-radius: 4px;
    margin: 7px 0 20px;

    &.active {
      border: 1px solid gray;
      color: #5d595f;
    }
  }
  .photo-success-wrapper {
    img {
      margin-bottom: 5px;
      width: 150px;
    }
  }
}